{% extends 'base_auth.html' %}

{% block content %}

<form class="form-signin" method="post">
    {% csrf_token %}

    <img class="mb-4"
         src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
         alt=""
         width="72"
         height="72">

    <h1 class="h3 mb-3 font-weight-normal">
        Forgot your password?
    </h1>

    <p class="mb-3 text-muted">
        Enter your email address and we'll send you a link to reset your password.
    </p>

    {{ form.email }}

    {% if form.errors %}
        <div class="alert alert-danger mt-3">
            {{ form.errors }}
        </div>
    {% endif %}

    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">
        Send Reset Link
    </button>

</form>

{% endblock %}